:root{
    --fuentePrincipal: "Roboto", cursive;
    --fuenteSecundaria: "Staatliches", cursive;
    --primario: rgb(17,17,31);
    --secundario: #f7f7f7;
    --blacno:#fff;
    --fontc: rgba(0, 0, 0, 0.689);
    /* --primario: */
    background-color: var(--secundario);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: var(--secundario);
}
.navegacion{
    background-color: var(--primario);
}
h3{
    font-family: var(--fuentePrincipal);
    color: var(--fontc);
    font-weight: 600;
}
.sharkyLogo{
    height: 13rem;
}
.carrusel{
    height: max-content;    
}

.contenido{
    max-width: 120rem;
    margin: 0 auto
}
.destacados{
    font-family:  var(--fuenteSecundaria);
    color: var(--primario);
    font-size: 5rem;
    margin-top: 10rem;
}
.bg-productos{
    background-color: var(--secundario);
}
.contenedorCard{
    max-width: 120rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}
.contenedorFlotante{
    height: 14rem;
    width: 30rem;
    background-color: var(--primario);
    position: relative;
    bottom:250rem;
    left: 115rem; 
}
.cardProducto{
    height: 35rem;
    background-color: #fff;
    box-shadow: rgb(3 3 3 / 8%) 0px 4px 12px ;
}
.contenedorImg{
    height: 70%;
    overflow: hidden;
}
.imagenProducto{
    height: 100%;
    object-fit: scale-down;
    padding: 7%;
    transition: 2s;
}

.imagenProducto:hover{
    transform: scale(1.5);
}
.infoProducto__boton{
    border-radius: 4px;
    height: 25%;
    font-size: 0.8rem;
}
.imagenProductoDetail{
    height: auto;
}
.infoProducto__precio{
    margin-bottom: 0.5rem;
    color: var(--fontc);
    font-family: 1.3rem;
}
.infoProducto__title{
    position: relative;
    bottom: 10%;
    font-family: var(--fuentePrincipal);
}
.itemDetail{
    max-width: 54rem;
    margin-top: 2rem;
}
.contador{
    margin-top: 5rem;
    height: 5rem;
    width: 30rem;
    margin-left: 19rem;

}
.masmenos{
    height: 6rem;
    width: 6rem;
}
.finalizarCompra{
    margin-top: 3rem;
    height: 4rem;
    border-radius: 4px;
    text-decoration: none;
}
.cantidadActual{
    font-size: 3.9rem;
}
.cartContainer{
    max-width: 76rem;
    font-family: var(--fuentePrincipal);
    font-size: 1.3rem;
    margin-top: 5rem;
    background-color: var(--secundario);
    box-shadow: rgb(3 3 3 / 8%) 0px 4px 12px;
}
 .cartEstilos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.imgCart{
    height: 100%;
    object-fit: scale-down;
}
.totalPrice{
    font-family: var(--fuenteSecundaria);
    font-weight: 400;
    font-size: 3rem;
    color:var(--primario)
}
.carritoTitulo{
    font-family: var(--fuenteSecundaria);
    font-weight: 400;
    font-size: 5rem;
    color:var(--primario);
    margin-top: 6rem;
    margin-left: 20rem;
}
.botonAgregar{
    font-family: var(--fuenteSecundaria);
    font-weight: 300;
    font-size: 2rem;
    margin-left: 20rem;    
}
.checkoutForm{
    margin-top: 5rem;
    font-family: var(--fuentePrincipal);
    color: var(--primario);
    max-width: 70rem;
    border: solid 1px;
}