*{
    padding: 0%;
    margin: 0%;
}
.cardProducto{
    height: 22rem;
}

.contenedorImg{
    height: 60%
}
.imagenProducto{
    height: 100%;
    object-fit: scale-down;
    padding: 7%;
}
.itemDetail{
   
}
.contador{
    margin-top: 10rem;
}
.infoProducto__boton{
    border-radius: 4px;
    height: 25%;
    font-size: 0.8rem;
}
.infoProducto__precio{
    margin-bottom: 0.5rem;
}
.infoProducto__title{
    position: relative;
    bottom:15%;
}
.contenedorCard{
    margin-left: auto;
    margin-right: auto;
}
.itemDetail{
    max-width: 540px;
    margin-top: 20px;
}